@import './chart.css';
@import './wiki.css';
@import './game.css';

:root{
  --primary: #BDF5B1;
  --primaryVariant: #2DED72;
  --secondary: #FFF398;
  --errorColor: #CF6679;
  --TextWhite: #FFFFFF;
  --TextBlack: #000000;
  --white: #FFFFFF;
  /*
  --gray10: #B3B3B3;
  --gray20: #737373;
  --gray30: #282828;
  --gray40: #181818;
  */
  --gray50:  linear-gradient(180deg, rgba(255, 255, 255, 0.38) 99.99%, rgba(255, 255, 255, 0) 100%), #121212;;
  --gray80: #121212;
  --backgroundColor: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #282828;

  --basefontFamily: 'Lato';
  --h1: normal 2.25rem/2.69rem var(--basefontFamily);
  --h2: normal 1.625rem/1.94rem var(--basefontFamily);
  --h3: normal 1.25rem/1.5rem var(--basefontFamily);
  --paragraph: normal 1rem/1.18rem var(--basefontFamily);
  --paragraphBold: bold 1rem/1.18rem var(--basefontFamily);
  --TextButton: normal 1.5rem/1.81rem var(--basefontFamily);
  --TextButtonBold: bold 1.5rem/1.81rem var(--basefontFamily);
  --headline1: bold 4.5rem/5rem var(--basefontFamily);
}
.body {
  max-width: 100vw;
  background: var(--backgroundColor);
  background-repeat: no-repeat;
  color: var(--TextWhite);
  font: var(--paragraph);
  margin: 0;
}
/* General styles */
h1{
  font: var(--h1);
}
h2{
  font: var(--h2);
}
h3{
  font: var(--h3);
}
p {
  font: var(--paragraph);
  line-height: 1.5rem;
}
a {
  text-decoration: none;
  font: var(--paragraphBold);
  color: var(--TextBlack);
}
.logo-container{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}
/* Header Styles */
header{
  width: 90%;
  height: 55px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  background: var(--primaryVariant);
}
header .header-image--container {
  width: 105px;
  height: 100%;
}
header .header-nav--container{
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
}
header .header-nav--container nav{
  width: 100%;
}
header .header-nav--container nav ul{
  height: 100%;
  margin: 0;
  padding: 0 2px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header-nav--container nav ul li{
  width: 80px;
}
header .header-nav--container nav ul li a span{
  vertical-align: bottom;
}
header .header-nav--container #home-logo{
  background-image: url('../assets/icons/world.svg');
}
header .header-nav--container #game-logo{
  background-image: url('../assets/icons/cup.svg');
}
/* Styles for the home main */
.home-main{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.home-main .search--container{
  width: 95%;
  max-width: 900px;
  margin: 10px auto;
  padding: 5px 0;
}
.home-main .search-instructions{
  height: 50%;
  max-width: 650px;
  margin: 3% auto;
  text-align: center;
}
.home-main .search-instructions h2,
.home-main .search-instructions h1,
.home-main .search-instructions p{
  margin: 10px 0;
}
.home-main .search-instructions h1{
  font: var(--headline1);
}
.home-main .search-input--container{
  display: flex;
  width: 100%;
  height: 40px;
  max-width: 560px;
  margin: 7% auto 3% auto;
  justify-content: center;
}
.home-main .search-input--container input{
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0 40px;
  border: 0;
  border-radius: 25px;
  background-color: var(--white);
  font: var(--paragraph);
}
.home-main .search-logo-container{
  width: 70%;
  height: 40px;
  /* position: absolute; */
  margin: 0;

}
.home-main .search--container span{
  position: absolute;
  margin: .7rem 1rem;
  z-index: 2;
  background-image: url('../assets/icons/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.home-main .suggested-pokemon--container{
  width: 95%;
  margin: 10px auto;
}
.home-main .suggested-pokemon--container h2{
  margin: 20px 0 15px 0;
}
.cards-container{
  height: 340px;
  margin: 10px 0;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
}
.cards-container .pokemon-card{
  min-width: 150px;
  height: 94%;
  margin: 0 5px;
  border-radius: 24px;
  background-color: var(--primary);
}
.cards-container .pokemon-card img{
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}
.cards-container .pokemon-card .pokemon-info--container{
  width: 85%;
  height: 47.5%;
  padding: 5px 5% 0 10%;
  background-color: var(--secondary);
  color: var(--TextBlack);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.cards-container .pokemon-card .pokemon-info--container h3{
  font: var(--paragraphBold);
  margin: 5px 0 2px 0;
}
.cards-container .pokemon-card .pokemon-info--container p{
  margin: 0 0 5px 0;
  line-height: 1.2rem;
}
.cards-container .pokemon-card .pokemon-info--container button{
  width: 80%;
  height: 30px;
  border: 0;
  display: block;
  margin: 15px 12% 0 8%;
  background-color: var(--primaryVariant);
  border-radius: 4px;
  font: var(--paragraphBold);
  cursor: pointer;
}
.home-main .game-info--container{
  width: 90%;
  max-width: 768px;
  margin: 25px auto;
  padding: 5%;
  background-color: #121212;
}
.home-main .game-info--container h2{
  margin: 10px 0;
  text-align: center;
}
.home-main .game-info--container p{
  max-width: 450px;
  margin: 10px auto 15px auto;
  text-align: center;
}
.home-main .game-info--container img{
  display: block;
  width: 269px;
  margin: 5px auto 10px auto;
}
.home-main .game-info--container button{
  display: block;
  width: 80%;
  max-width: 400px;
  height: 50px;
  margin: 20px auto;
  padding: 12px 10px;
  border: 0;
  background-color: var(--primaryVariant);
  border-radius: 8px;
  font: var(--h3);
  font-weight: bold;
}
/* Styles of footer */
footer{
  width: 100%;
  margin-top: 15px;
}
footer div{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div a{
  display: block;
  width: 66px;
  margin: 15px 0;
  color: var(--TextWhite);
  text-align: center;
}
footer div a:nth-child(1){
  border-right: 2px solid var(--TextWhite);
}
footer #collaborators{
  margin: 15px 0;
  text-align: center;
}
footer #collaborators a{
  color: var(--TextWhite);
}
footer #repository{
  margin: 10px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--TextWhite);
}
footer #repository span{
  background-image: url('../assets/icons/github.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
a:hover,
footer #collaborators a:hover,
footer #repository:hover{
  color: var(--primary);
}
header a:hover{
  color: var(--TextBlack);
}
@media only screen and (min-width: 425px) {
  .home-main .search--container span {
    /* top: 10px; */
    /* left: 17%; */
    /* right: -100%; */
  }
  .home-main .game-info--container{
    width: 96%;
    padding: 2%;
  }
  .cards-container::-webkit-scrollbar {
    width: 1em;
    height: 5px;
  }
  .cards-container::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(22, 22, 22, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(22, 22, 22, 0.3);
  }
  .cards-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary);
    outline: 2px solid rgb(147, 167, 187);
  }
}
@media only screen and (min-width: 768px) {
  header .header-nav--container{
    width: 300px;
  }
  header .header-nav--container nav ul li a span{
    margin-right: 10px;
  }
  .home-main .search-input--container{
    height: 50px;
    margin: 2% auto;
  }
  .home-main .search-input--container input{
    height: 50px;
  }
  .home-main .search--container span {
    margin-block-start: 1rem;
    /* width: 30px; */
    /* height: 30px; */
    /* top: 11px; */
  }
  .cards-container{
    height: 400px;
  }
  .cards-container .pokemon-card{
    min-width: 200px;
  }
  .cards-container .pokemon-card .pokemon-info--container{
    height: 41.5%;
  }
  .cards-container .pokemon-card .pokemon-info--container p{
    line-height: 1.4rem;
  }
  .home-main .game-info--container{
    border-radius: 14px;
  }
}