@import './chart.css';

:root{
  --primary: #BDF5B1;
  --primaryVariant: #2DED72;
  --secondary: #FFF398;
  --errorColor: #CF6679;
  --TextWhite: #FFFFFF;
  --TextBlack: #000000;
  --white: #FFFFFF;
  /*
  --gray10: #B3B3B3;
  --gray20: #737373;
  --gray30: #282828;
  --gray40: #181818;
  */
  --gray50:  linear-gradient(180deg, rgba(255, 255, 255, 0.38) 99.99%, rgba(255, 255, 255, 0) 100%), #121212;;
  --gray80: #121212;
  --backgroundColor: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #282828;

  --basefontFamily: 'Lato';
  --h1: normal 2.25rem/2.69rem var(--basefontFamily);
  --h2: normal 1.625rem/1.94rem var(--basefontFamily);
  --h3: normal 1.25rem/1.5rem var(--basefontFamily);
  --paragraph: normal 1rem/1.18rem var(--basefontFamily);
  --paragraphBold: bold 1rem/1.18rem var(--basefontFamily);
  --TextButton: normal 1.5rem/1.81rem var(--basefontFamily);
  --TextButtonBold: bold 1.5rem/1.81rem var(--basefontFamily);
  --headline1: bold 4.5rem/5rem var(--basefontFamily);
}
*{
  box-sizing: border-box;
}
.body {
  width: 100vw;
  background: var(--backgroundColor);
  background-repeat: no-repeat;
  color: var(--TextWhite);
  font: var(--paragraph);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General styles */
h1{
  font: var(--h1);
  margin: 0;
}
h2{
  font: var(--h2);
  margin: 0;
}
h3{
  font: var(--h3);
  margin: 0;
}
p {
  font: var(--paragraph);
  margin: 0;
}
a {
  text-decoration: none;
  font: var(--paragraphBold);
  color: var(--TextBlack);
}
.logo-container{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}
/* Header Styles */
header{
  max-width: 100%;
  height: 55px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  background: var(--primaryVariant);
}
header .header-image--container {
  width: 105px;
  height: 100%;
}
header .header-nav--container{
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
}
header .header-nav--container nav{
  width: 100%;
}
header .header-nav--container nav ul{
  height: 100%;
  margin: 0;
  padding: 0 2px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header-nav--container nav ul li{
  display: flex;
  width: 75px;
}
header .header-nav--container #wiki-logo{
  background-image: url('../assets/icons/world.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
header .header-nav--container #game-logo{
  background-image: url('../assets/icons/cup.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
/* Styles for the home main */
.wiki-main{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.wiki-main .search--container{
  width: 95%;
  max-width: 900px;
  height: 250px;
  margin: 10px auto;
}
.wiki-main .search-instructions{
  height: 85%;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.wiki-main .search-input--container{
  display: block;
  width: 100%;
  height: 40px;
  max-width: 560px;
  margin: 0 auto;
  position: relative;
}
.wiki-main .search-input--container input{
  width: 100%;
  height: 40px;
  padding: 0 40px;
  border-radius: 25px;
  background-color: var(--white);
  font: var(--paragraph);
}
.wiki-main .search--container span{
  position: absolute;
  top: 12px;
  left: 14px;
  background-image: url('../assets/icons/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.wiki-main .suggested-pokemon--container{
  width: 95%;
  height: 340px;
  margin: 20px auto;
}
.wiki-main .suggested-pokemon--container .cards-container{
  width: 100%;
  height: 300px;
  margin: 20px 0;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  /* scroll-snap-type: x proximity; */
}
.wiki-main .cards-container .pokemon-card{
  width: 160px;
  height: 280px;
  margin: 0 5px;
  border-radius: 24px;
  background-color: var(--primary);
}
.wiki-main .cards-container .pokemon-card img{
  width: 160px;
  height: 160px;
}
.wiki-main .cards-container .pokemon-card .pokemon-info--container{
  width: 100%;
  height: 120px;
  padding: 5px 10px;
  background-color: var(--secondary);
  color: var(--TextBlack);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.wiki-main .cards-container .pokemon-card .pokemon-info--container p{
  font-size: 14px;
}
.wiki-main .cards-container .pokemon-card .pokemon-info--container button{
  width: 115px;
  height: 30px;
  margin: 2px 15px;
  border: 0;
  background-color: var(--primaryVariant);
  border-radius: 4px;
  font: var(--paragraphBold);
}
.wiki-main .game-info--container{
  width: 100%;
  max-width: 875px;
  height: 440px;
  margin: 15px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  background-color: #121212;
}
.wiki-main .game-info--container p{
  max-width: 500px;
}
.wiki-main .game-info--container img{
  width: 269px;
  margin: 0 auto;
}
.wiki-main .game-info--container button{
  width: 80%;
  height: 50px;
  margin: 0 auto;
  padding: 12px 10px;
  border: 0;
  background-color: var(--primaryVariant);
  border-radius: 8px;
  font: var(--paragraphBold);
}
/* Game styles */
.game-main{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.game-main .fight-container{
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.game-main .fight-container .pokemon-fight-container{
  width: 45%;
  margin: 10px;
  align-self: flex-start;
}
.game-main .fight-container .pokemon-fight-container:nth-child(1){
  align-self: flex-end;
}
.game-main .fight-container .pokemon-fight-container img{
  width: 100%;
  border-radius: 13px;
  object-fit: contain;
}
.game-main .choices--container{
  width: 95%;
  max-width: 600px;
  margin: 20px auto;
}
.game-main .choices--container button{
  width: 95%;
  height: 50px;
  display: block;
  margin: 5px auto;
  padding: 5px 38px;
  border-radius: 8px;
  font: var(--h3);
  text-align: center;
}
.game-main .choices--container #first{
  background-color: var(--primary);
}
.game-main .choices--container #second{
  background-color: var(--secondary);
}
.game-main .choices--container #first span{
  background-image: url('../assets/icons/up-arrow.svg');
}
.game-main .choices--container #second span{
  background-image: url('../assets/icons/down-arrow.svg');
}
.game-main .choices--container button span{
  width: 25px;
  height: 25px;
  margin-left: 5px;
  
  background-position: center;
  vertical-align: bottom;
}
.game-main .choices--container h3{
  margin: 10px 0;
  text-align: center;
}
.game-main .game-info--container{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.game-main .game-info--container p{
  margin: 15px 0;
  font: var(--h2);
}
.game-main .game-info--container .logo-container{
  width: 35px;
  height: 35px;
  background-image: url('../assets/icons/info.svg');
  vertical-align: text-top;
}
/* Styles of footer */
footer{
  width: 100%;
  margin: 10px 0;
}
footer div{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div a{
  display: block;
  width: 66px;
  margin: 15px 0;
  color: var(--TextWhite);
  text-align: center;
}
footer div a:nth-child(1){
  border-right: 2px solid var(--TextWhite);
}
footer #collaborators{
  margin: 15px 0;
  text-align: center;
}
footer #collaborators a{
  color: var(--TextWhite);
}
footer #repository{
  margin: 10px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--TextWhite);
}
footer #repository span{
  background-image: url('../assets/icons/github.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
a:hover,
footer #collaborators a:hover,
footer #repository:hover{
  color: var(--primary);
}
header a:hover{
  color: var(--TextBlack);
}